<% include layout/header %>
<div style="text-align: center;">
	<h2>Chào mừng bạn đến với dịch vụ của Alfazi</h2>
	<p>Bạn muốn đặt lại mật khẩu của mình?</p>
	<p>Hãy bấm vào đường link phía dưới để đặt lại mật khẩu:</p>
	<a href="<%= resetLink %>" class="btn">
		Đặt lại mật khẩu
	</a>
	<p>Cảm ơn bạn đã sử dụng dịch vụ của Alfazi.</p>
</div>
<% include layout/footer %>

