<% include layout/header %>
<div style="text-align: center;">
	<h2>Chúc mừng bạn đã đăng ký tài khoản thành công!</h2>
	<p>
		 Vui lòng nhấn vào đường dẫn bên dưới để có thể xác thực tài khoản
	</p>
	<a href="<%= verifyHref %>" class="btn">
		Xác thực tài khoản
	</a>
	<p>Cảm ơn bạn đã sử dụng dịch vụ của Alfazi.</p>
</div>
<% include layout/footer %>

