
			</div>
		</div>
		<div class="footer">
			<div class="social">
				<a href="https://www.facebook.com/alfaziapp">
					<img src="https://s3-ap-southeast-1.amazonaws.com/alfazi/static/fb.png" alt="fb">
				</a>
				<a href="https://plus.google.com/+Alfazi">
					<img src="https://s3-ap-southeast-1.amazonaws.com/alfazi/static/gg.png" alt="gg">
				</a>
				<a href="https://www.youtube.com/channel/UCxEcRXCxjSIRjO2DKbsPB8g">
					<img src="https://s3-ap-southeast-1.amazonaws.com/alfazi/static/youtobe.png" alt="youtobe">
				</a>
			</div>
			<div class="link-menu">
				<ul>
					<li>
						<a href="https://alfazi.edu.vn/privacy-policy">Chính sách bảo mật</a>
					</li>
					<li>
						<a href="https://alfazi.edu.vn/term-of-use">Điều khoản sử dụng</a>
					</li>
					<li>
						<a href="https://alfazi.edu.vn/intro">Giới thiệu</a>
					</li>
					<li>
						<a href="https://alfazi.edu.vn/blog/post/noi-quy-dien-dan-cong-dong-h-i-dap-alfazi">Nội quy</a>
					</li>
				</ul>
			</div>
			<div class="copyright">
				 Copyright © 2018 Alfazi. All Rights Reserved.
			</div>
		</div>
	</div>
</body>
</html>
