<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
	<!--[if gte mso 9]><xml>
		<o:OfficeDocumentSettings>
		<o:AllowPNG/>
		<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml><![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<!--[if !mso]><!-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<![endif]-->
	<title></title>
	<!--[if !mso]><!-- -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<!--<![endif]-->

	<style type="text/css" id="media-query">
		body {
			margin: 0;
		}
		a {
			color: #136259;
		}
		a:hover {
			text-decoration: underline;
		}
		p {
			margin-bottom: 30px;
		}
		.btn {
			background: #136259;
			display: inline-block;
			color: #fff;
			text-decoration: none;
			padding: 10px 15px;
			margin-bottom: 30px;
		}
		.btn:hover {
			text-decoration: none;
		}
		.wrapper {
			background:#e9ebee;
			height: 100%;
			margin: 0;
			padding: 50px 0;
			width: 100%;
			font-family: Roboto Regular,Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 24px;
			color: #5f6368;
		}
		.body {
			background: #fff;
			margin: 0 auto;
			max-width: 600px;
			min-width: 320px;
			width: 320px;
			width: calc(28000% - 167400px);
			word-wrap: break-word;
			word-break: break-word;
		}
		.header {
			display: table;
			width: 100%;
			box-sizing: border-box;
		}
		.logo {
			display: table-cell;
			vertical-align: middle;
			line-height: 1;
			padding: 0 15px;
		}
		.logo img {
 			height: 50px;
		}
		.link {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			padding: 0 15px;
		}
		.link a {
			font-size: 12px;
			text-decoration: none;
			color: #136259;
		}
		.banner img {
			width: 100%;
		}
		.content {
			padding: 50px 30px;
		}
		.footer {
			font-size: 12px;
			color: #b0afb0;
			margin: 30px auto 0;
			max-width: 600px;
			min-width: 320px;
			width: 320px;
			width: calc(28000% - 167400px);
			word-wrap: break-word;
			word-break: break-word;
			text-align: center;
		}
		.link-menu ul {
			padding: 0;
			list-style: none;
			margin: 6px auto;
			display: table;
		}
		.link-menu ul li {
			padding: 0 5px;
			display: table-cell;
		}
		.link-menu ul li a {
			text-decoration: none;
			color: #136259;
		}
		.social a {
			text-decoration: none;
		}
		.copyright {
			font-size: 12px;
			color: #707575;
		}
		@media (max-width: 600px) {
			.link-menu ul {
				display: block;
			}
			.link-menu ul li {
				padding: 5px 0;
				display: block;
			}
		}
		@media (max-width: 400px) {
			.wrapper {
				padding: 20px 0 50px;
			}
		}
		@media (max-width: 360px) {
			.wrapper {
				padding: 15px 0 50px;
			}
		}
		@media (max-width: 350px) {
			.wrapper {
				padding: 10px 0 50px;
			}
		}
		@media (max-width: 330px) {
			.wrapper {
				padding: 5px 0 50px;
			}
		}
		@media (max-width: 321px) {
			.wrapper {
				padding: 0 0 50px;
			}
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<div class="body">
			<div class="header">
				<div class="logo">
					<img src="https://alfazi.edu.vn/static/assets/images/logo/64x64.png" alt="logo">
				</div>
				<div class="link">
					<a href="https://alfazi.edu.vn">Truy cập trang</a>
				</div>
			</div>
			<div class="banner">
				<img src="https://s3-ap-southeast-1.amazonaws.com/alfazi/static/Screen+Shot+2018-05-13+at+11.08.41+AM.png" alt="banner">
			</div>
			<div class="content">

